#waiting_room{
    display: none;
}
#play_area{
    display: none;
}
#control{
    display: block;
}
#game_control{
    display: none;
}
#challenges{
    display : none;
}
#actions{
    display: none;
}